@import "settings/reset";
@import "settings/colors";
@import "settings/fonts";
@import "home/nav";
@import "home/mainSection";
@import "home/homeThreeColumns";
@import "home/homeWhatIsGoingOn";
@import "home/homeAbout";
@import "home/homeFoundationOrganizations";
@import "home/homeContact";
@import "loginRegistration/logRegi";
@import "loginRegistration/logIn";
@import "loginRegistration/register";
@import "loginRegistration/loggedOut";
@import "giveThings/giveThings";
@import "giveThings/step1";
@import "giveThings/step2";
@import "giveThings/step3";
@import "giveThings/step4";
@import "giveThings/summary";
@import "giveThings/thanks";


.container{
  width: 1200px;
  margin: 0 auto;
}
body{
  font-family: $font-base;
}