.give-things{
  .position{
    display: flex;
    .first-background{
      background-image: url("../../assets/Form-Hero-Image.jpg");
      height: 600px;
      width: 600px;
      background-repeat: no-repeat;
      background-position: right 0 bottom 0;
      background-size: cover;
    }
    .first-section{
      width: 600px;
      .nav{
        margin: 0;
      }
    }
  }
  .instruction{
    margin-top: 30px;
    h4{
      text-align: center;
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 2rem;
    }
    h3{
      font-weight: normal;
      text-align: center;
    }
    .squares{
      position: absolute;
      margin-left: 70px;
      li{
        border: 1px solid $grey;
        transform: rotate(45deg);
      }
    }
    ul{
      margin-left: 70px;
      list-style: none;
      display: flex;
      margin-top: 30px;
      text-align: center;
      li{
        height: 110px;
        width: 110px;
        padding-top: 5px;
        h6{
          margin-bottom: 10px;
          font-size: 1.5rem;
          font-weight: normal;
        }
      }
    }
  }
  .ornament{
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../../assets/Decoration.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}