.step2{
  padding-left: 80px;
  background-image: url("../../assets/Background-Form.jpg");
  height: 550px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  background-size: cover;
  p{
    padding-top: 40px;
    padding-bottom: 35px;
    font-size: 1.2rem;
  }
  h5{
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
  form{
    select{
      background-color: transparent;
      width: 170px;
      option{
        background-color: $light-grey;
        p{
          text-align: center;
        }
      }
    }
  }
  button{
    background-color: transparent;
    height: 40px;
    width: 90px;
    margin-top: 250px;
    border: 1px solid $grey;
    border-left: 2px solid $grey;
    border-top: 2px solid $grey;
    color: $grey;
    margin-right: 20px;
  }
}